*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    display: block;
    width:100%;
    height:70px;
    position:fixed;
    background-color:rgb(92, 17, 102);
    top:0;

    z-index: 10;
}

   
 #nav-bar img{
     width:50px;
     height: 50px;
     border-radius: 100px;
     margin-top:10px ;
     margin-left: 10px;
 }
#nav-bar a{
display:inline-block;
padding:20px;
text-decoration:none ;
color: cornsilk;
}
#title{
        width: 400px;
        margin:auto;
        text-align: center;
}
body{
    
    background-color: rgb(204, 169, 228);
    height: fit-content;
}
#main{
    width:100%;
    margin:70px auto;
    background-color: rgb(204, 169, 228);

}
form{
    width:330px;
    margin:20px auto;
}
#video
{

width: 320px;
border: 12px solid blueviolet;
display: block;
margin: auto;
box-sizing: border-box;
padding: 5px;
z-index: -1; 
}
    
#courses{
    display: block;
    margin: auto;
}
#email{
    width: 300px;
    height: 20px;
    margin:10px auto;
    padding: 4px;
}
#description{
    width:100%;
    max-width: 500px;
    margin:auto;
    margin-top: 1.2em;
}
#img1div,
#img2div,
#img3div{
    text-align: center;
    width:100%;
    margin:5px auto;
}

#img1,
#img2,
#img3{
    max-width:100px;
    display: block;
    margin:auto;
    max-height:100px;
    border-radius: 50px;
}
#courses{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
@media (max-width:650px){
   #courses{ 
    display:flex;
    flex-direction: cloumn;
    justify-items: center;
    
}
    
}
    

#course1,
#course2,
#course3{
    
    width: 30%;
    border:3px solid blueviolet;
    max-width:300px;
    min-width:300px;
    height: 200px;
    text-align: center;
    margin:10px;
    padding: 20px;
    box-sizing: border-box;
}
.submit
{
    display:block;
    width: 100px;
    background-color: red;
    font-weight: 700;
    padding: 2px;
    text-transform: uppercase;
    box-sizing: border-box;

    margin: 90px auto;
}

#get-started{
    background-color: chartreuse;
    padding: 10px 10px 10px 10px;
    margin-top:20px;
}
footer{
    
    height:50px;
    background-color:rgb(92, 17, 102);;
    width:100%;
    text-align:right;
    font-weight: 700;
    box-sizing: border-box;
    padding:10px;
    bottom:0;
    }
